* {
  padding: 0px;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  overflow-x: hidden;
}

nav.topnav {
  padding: 10px;
  position: fixed;
  width: 100vw;
  text-align: center;
  font-size: 30px;
  font-weight: lighter;
  letter-spacing: 3px;
  background: purple;
  color: white;
  z-index: 10;
}

section.full {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

div.container {
  position: relative;
  margin-top: 5em;
  width: 90%;
}

div.field {
  margin: 5px;
  padding: 10px;
}

.slidder {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 200px;
  height: 15px;
  border-radius: 12px;
  background: lightgray;
  outline: none;
}

.slidder::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  cursor: pointer;
  border-radius: 50%;
  background: #cd00cd;
}

.slidder::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

div.color_box {
  height: 200px;
  width: auto;
}

div.app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10px;
  width: 50%;
}

div.app_bar {
  padding: 10px;
  position: relative;
  width: 100%;
}

div.apps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

div.colors {
  height: 100px;
  width: 100px;
  margin: 5px;
}

div.color_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

h4 {
  font-weight: lighter;
  letter-spacing: 2px;
  color: rgba(10, 10, 10, 0.8);
}

button {
  padding: 10px;
  display: block;
  width: 100%;
  margin-top: 15px;
  border: none;
  background: #4d004d;
  color: white;
  border-radius: 20px;
  outline: none;
}

div.pallet_icon {
  position: fixed;
  bottom: 100px;
  left: 100px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: #e600e6;
  -webkit-box-shadow: 1px 1px 30px 30px rgba(10, 10, 10, 0.3);
          box-shadow: 1px 1px 30px 30px rgba(10, 10, 10, 0.3);
  text-align: center;
  font-size: 35px;
  color: white;
  font-family: 'Times New Roman', Times, serif;
}

.bounce {
  -webkit-animation: 0.7s bounce 0s ease-in-out;
          animation: 0.7s bounce 0s ease-in-out;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  20% {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
    opacity: 0.3;
    border-radius: 10%;
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    opacity: 0.5;
    border-radius: 5%;
  }
  90% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  20% {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
    opacity: 0.3;
    border-radius: 10%;
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    opacity: 0.5;
    border-radius: 5%;
  }
  90% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

div.templates {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100vw;
  background: rgba(250, 250, 250, 0.8);
  z-index: 11;
  display: none;
}

div.templates div.app {
  position: relative;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 0px;
  margin: 0px;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-x: hidden;
  -webkit-box-shadow: 2px 2px 20px 20px rgba(10, 10, 10, 0.3);
          box-shadow: 2px 2px 20px 20px rgba(10, 10, 10, 0.3);
}

div.templates div.template_plate {
  position: relative;
  height: 200px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow-y: scroll;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

div.templates div.temp {
  margin: 10px 5px;
}

div.templates div.temp div.t_color {
  height: 40px;
  width: 150px;
  margin: 3px;
}

div.templates div.t_color:nth-child(odd) {
  background: green;
}

div.templates div.t_color:nth-child(even) {
  background: blue;
}

div.templates div.capsule {
  padding: 5px;
}

div.templates div.capsule h3 {
  font-size: 15px;
  font-weight: lighter;
  letter-spacing: 2px;
  text-align: center;
}

@media only screen and (max-width: 700px) {
  div.apps {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  div.app {
    width: 100%;
  }
  div.pallet_icon {
    left: 20px;
    bottom: 20px;
  }
  div.colors {
    margin: 2px;
  }
}
/*# sourceMappingURL=colors.css.map */